<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Витрина проектов</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-xxl b-rounded shadow p-1 my-2">
            <div class="row">
                <div class="col">
                    <img src="/static/img/logo.png" alt="" class="logo" class="img-fluid">
                </div>
                <div class="col my-auto text-center">
                    <a href="" class="">Регистрация проектов</a>
                </div>
                <div class="col my-auto text-center">
                    <a href="" class="">Витрина проектов</a>
                </div>
                <div class="col my-auto text-center">
                    <a href="" class="">Дизайн-мышление</a>
                </div>
                <div class="col my-auto text-center">
                    <a href="" class="">Акселерационная программа</a>
                </div>
                <div class="col my-auto text-center">
                    <a href="" class="">Учебно-производственный комплекс</a>
                </div>
                <div class="col my-auto text-center">
                    <a href="" class="">Контанты</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <div class="container">
            <h3 class="fw-bold col-lg-8 my-4">Проекты Московского политехнического университета в рамках дисциплины «Проектная деятельность» на весенний семестр 2024-2025 учебного года</h3>
            <div class="input-with-icon mb-3 rounded">
                <i class="bi bi-search"></i>
                <input type="text" class="form-control rounded shadow" placeholder="Поиск...">
            </div>

            <div class="theme">
                <h5 class="fw-medium col-lg-8 my-4">Тематика</h5>
                <div id="filters">
                    {{range .Thematic}}
                    <button class="filter-btn">
                      {{.Name}}
                    </button>
                    {{end}}
                  </div>
            </div>
            <div class="spec">
                <h5 class="fw-medium col-lg-8 my-4">Тематика</h5>
                <div id="filters" class="specialites">
                    {{range .Specialization}}
                    <button class="filter-btn">{{.Name}}</button>
                    {{end}}
                    </div>
            </div>

            <div class="cards mt-4">
                <div class="row">
                    {{range .Projects}}
                    <div class="col-4 mt-4">
                        <a href="/project/{{.Id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="card p-3">
                                <h5>{{.Name}}</h5>
                                <h3 class="mt-2 primary-color"><i class="bi bi-arrow-right"></i></h3>
                            </div>
                        </a>
                    </div>
                    {{end}}                    
                </div>
            </div>

            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center mt-3">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
                  <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>